@{
    string StaticDomain = Staryl.WeiXin.Controllers.ControllerBase.StaticDomain;
    ViewBag.Title = "Index"; 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>登录</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="@(StaticDomain)stylesheets/bootstrap.css">
    <script src="@(StaticDomain)js/jquery.min.js"></script>
    <script src="@(StaticDomain)js/bootstrap.min.js"></script>
    <script src="@(StaticDomain)js/bootstrapValidator.min.js"></script>
    <script src="@(StaticDomain)js/language/zh_CN.js"></script>
    <script src="@(StaticDomain)js/bootstrapAlert.js"></script>

</head>

<body>
    <header class="top-nav clearfix">
        <a class="dlt-a pull-left" href="javascript:void(0);"><i class="icon icon-mark"></i><span>@(ViewBag.City)</span></a>
        <a class="dlt-a pull-right" href="javascript:void(0);"><i class="icon icon-search"></i><span>搜索</span></a>
        <h4>星库</h4>
    </header>
    <div class="logo">
        <div>
            <a href="index.html"><img src="@(StaticDomain)images/logo.png" width="35%" alt="小童星"></a>
        </div>
        <div class="logo-nm"><img src="@(StaticDomain)images/logo-nm.png" width="25%" alt="小童星"></div>
    </div>
    <div class="container">
        <form id="loginForm" method="post" action="/Login/Sign" class="form-horizonal login-form">
            <input type="hidden" name="ReturnUrl" id="ReturnUrl" value="/Account" />
            <div class="form-group">
                <input type="text" class="form-control" name="MobileOrEmail" data-bv-field="username" placeholder="请输入您的手机号码/邮箱">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="Password" data-bv-field="password" placeholder="请输入密码">
            </div>
            <p class="text-right"><a href="###" class="cue-a">忘记密码？</a></p>
            <button type="submit" class="btn btn-block btn-primary btn-lg">登录</button>
            <p class="reg-cue text-center">还没有帐号？现在去<a href="/Register" class="cue-a">注册</a></p>
        </form>
    </div>

    <!-- system modal start -->
    <div id="ycf-alert" class="modal">
        <!--<div class="modal-dialog modal-sm">-->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">[Title]</h4>
                </div>
                <div class="modal-body">
                    <p>[Message]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default cancel pull-left" data-dismiss="modal">[BtnCancel]</button>
                    <button type="button" class="btn btn-primary ok" data-dismiss="modal">[BtnOk]</button>
                </div>
            </div>
        </div>
    </div>
    <!-- system modal end -->

    <script type="text/javascript">
        $(function () {

            //提交验证
            $('#loginForm').bootstrapValidator({
                message: '',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    MobileOrEmail: {
                        validators: {
                            notEmpty: {
                                message: '用户名不能为空'
                            }
                        }
                    },
                    Password: {
                        validators: {
                            notEmpty: {
                                message: '密码不能为空'
                            }
                        }
                    }
                }
            }).on('success.form.bv', function (e) {
                // Prevent form submission
                e.preventDefault();

                // Get the form instance
                var $form = $(e.target);

                // Get the BootstrapValidator instance
                var bv = $form.data('bootstrapValidator');

                // Use Ajax to submit form data
                $.post($form.attr('action'), $form.serialize(), function (result) {
                    console.log(result);
                    if (!result.IsError) {
                        location = result.Msg;
                    } else {
                        Modal.alert({
                            msg: result.Msg
                        }).on(function (e) {
                            $("#account").focus();
                        });
                    }
                }, 'json');
            });
        });
    </script>
</body>

</html>

