@{
    string StaticDomain = Staryl.WeiXin.Controllers.ControllerBase.StaticDomain;
    ViewBag.Title = "发布经历";
}
@model Staryl.WeiXin.ViewModels

@section style {
    <link href="@(StaticDomain)plugins/webupload/webuploader.css" rel="stylesheet" />
    <style type="text/css">
        #upimg {
            width: 100px;
            height: 100px;
        }

            #upimg .webuploader-pick {
                background: none;
                padding: 0px;
            }
        #fileList span {
        width:100px; height:100px; display:block; position:relative;
        }
        #fileList .send-img .send-img-list img {
        width:100px; height:100px;
        }
    </style>
}

<header class="top-nav clearfix">
    <a class="dlt-a pull-left" href="javascript:history.go(-1);"><i class="glyphicon glyphicon-menu-left"></i><span>返回</span></a>
    <h4>成长经历</h4>
</header>
<div class="container send-page">
    <form id="imgForm" action="/Undergo/Create" class="form-horizontal pt15">
        <input type="hidden" name="StarUserId" id="StarUserId" value="@Model.starUserInfo.Id" />
        <div class="form-group">
            <textarea class="form-control" rows="5" name="Content" data-bv-field="Content" placeholder="记录宝贝成长的每一刻"></textarea>
        </div>
        <div class="form-group">
            <select class="form-control" name="UndergoType" id="UndergoType" data-bv-field="experience">
                <option value="">--选择经历--</option>
                <option value="1">演绎经历</option>
                <option value="2">获奖经历</option>
                <option value="2">培训经历</option>
            </select>
        </div>
        <div class="form-group">
            <div class="send-img clearfix">
                <div id="fileList" class="send-img-list">

                </div>
                <div id="upimg" class="send-btn">
                    <img src="@(StaticDomain)images/icon-add-pic.png" alt="">
                    @*<input class="send-pic-btn" type="file" name="simg" accept="image/*">*@
                </div>

            </div>
            <div class="text-muted">最多只可上传9张图片,单张照片最大10M</div>
            <input type="hidden" name="Photos" id="Photos" value="" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary btn-lg">发布</button>
        </div>

    </form>
</div>

@section scripts {
    <script src="@(StaticDomain)plugins/datepicker/mobiscroll_002.js" type="text/javascript"></script>
    <script src="@(StaticDomain)plugins/webupload/webuploader.js"></script>

    <script>
        var BASE_URL = "@(StaticDomain)";

        $(function () {
            //日期
            var currYear = (new Date()).getFullYear();
            $(".form-datetime").mobiscroll({
                preset: 'date',
                theme: 'android-ics light',
                display: 'modal', //显示方式
                mode: 'scroller', //日期选择模式
                dateFormat: 'yyyy-mm-dd',
                lang: 'zh',
                showNow: true,
                nowText: "今天",
                startYear: currYear - 18, //开始年份
                endYear: currYear + 18 //结束年份);
            });

            /*序列化form为json*/
            $.fn.serializeJson = function () {
                var serializeObj = {};
                var array = this.serializeArray();
                var str = this.serialize();
                $(array).each(function () {
                    if (serializeObj[this.name]) {
                        if ($.isArray(serializeObj[this.name])) {
                            serializeObj[this.name].push(this.value);
                        } else {
                            serializeObj[this.name] = [serializeObj[this.name], this.value];
                        }
                    } else {
                        serializeObj[this.name] = this.value;
                    }
                });
                return serializeObj;
            };




            /*上传插件*/
            $list = $('#fileList'),
            // 优化retina, 在retina下这个值是2
            ratio = window.devicePixelRatio || 1,

            // 缩略图大小
            thumbnailWidth = 100 * ratio,
            thumbnailHeight = 100 * ratio,


            // 初始化Web Uploader
         uploader = WebUploader.create({

             // 自动上传。
             //auto: true,

             // swf文件路径
             swf: BASE_URL + 'plugins/webupload/Uploader.swf',

             // 文件接收服务端。
             server: '/Undergo',

             // 选择文件的按钮。可选。
             // 内部根据当前运行是创建，可能是input元素，也可能是flash.
             pick: '#upimg',
             formData: { "starUserId": $("#StarUserId").val() },
             //二进制上传
             sendAsBinary:true,
             // 只允许选择文件，可选。
             accept: {
                 title: 'Images',
                 extensions: 'gif,jpg,jpeg,bmp,png',
                 mimeTypes: 'image/*'
             },
             fileNumLimit: 9,
             fileSingleSizeLimit:10500000,
         });

            // 当有文件添加进来的时候
            uploader.on('fileQueued', function (file) {
                var $li = $(
                        '<div id="' + file.id + '" class="send-img-item">' +
                            '<a href="#" class="glyphicon glyphicon-remove dlt-a remove-this"></a><img alt=' + file.name + '>' +
                        '</div>'
                        ),

                    $img = $li.find('img');

                $list.append($li);

                // 创建缩略图
                uploader.makeThumb(file, function (error, src) {
                    if (error) {
                        $img.replaceWith('<span>不能预览</span>');
                        return;
                    }

                    $img.attr('src', src);
                }, thumbnailWidth, thumbnailHeight);

                $li.on('click', '.remove-this', function () {
                    uploader.removeFile(file, true);
                    $li.remove();
                    return false;
                })


            });

            // 文件上传过程中创建进度条实时显示。
            uploader.on('uploadProgress', function (file, percentage) {
                var $li = $('#' + file.id),
                    $percent = $li.find('.progress span');

                // 避免重复创建
                if (!$percent.length) {
                    $percent = $('<p class="progress"><span></span></p>')
                            .appendTo($li)
                            .find('span');
                }

                $percent.css('width', percentage * 100 + '%');
            });

            // 文件上传成功，给item添加成功class, 用样式标记上传成功。
            uploader.on('uploadSuccess', function (file, response) {
                var photos = $("#Photos").val();
                if (photos.length <= 0)
                    photos = response.filepath;
                else
                    photos += "," + response.filepath;
                $("#Photos").val(photos);

                $('#' + file.id).addClass('upload-state-done');
            });

            // 文件上传失败，现实上传出错。
            uploader.on('uploadError', function (file) {
                var $li = $('#' + file.id),
                    $error = $li.find('div.error');

                // 避免重复创建
                if (!$error.length) {
                    $error = $('<div class="error"></div>').appendTo($li);
                }

                $error.text('上传失败');
            });

            // 完成上传完了，成功或者失败，先删除进度条。
            uploader.on('uploadComplete', function (file) {
                $('#' + file.id).find('.progress').remove();
            });

            uploader.on('error', function (type) {
                switch (type)
                {
                    case "Q_EXCEED_NUM_LIMIT":
                        Modal.alert({ title: "错误提示", msg: "一次最多只能上传 9 张图片" });
                        break;
                    case "F_EXCEED_SIZE":
                        Modal.alert({ title: "错误提示", msg: "上传图片大小不能超过 10M" });
                        break;

                }
            });

            uploader.on("uploadFinished", function () {
        
                $.post($("#imgForm").attr('action'), $("#imgForm").serializeJson(), function (result) {
                    if (Number(result) == 1) {
                        location = "/account/starview";
                    } else {
                        Modal.alert({
                            msg: result.Msg
                        });
                    }
                }, 'json');
            });
            /*上传插件结束*/


            $('#imgForm').bootstrapValidator({
                message: '',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    Content: {
                        validators: {
                            notEmpty: {
                                message: '经历内容不能为空'
                            }
                        }
                    },
                    UndergoType: {
                        validators: {
                            notEmpty: {
                                message: '经历类型选项不能为空'
                            }
                        }
                    }
                }
            }).on('success.form.bv', function (e) {
                // Prevent form submission
                e.preventDefault();

                // Get the form instance
                var $form = $(e.target);

                // Get the BootstrapValidator instance
                var bv = $form.data('bootstrapValidator');
                // Use Ajax to submit form data
                uploader.upload();
            });






        })
    </script>
}