
@{
    string StaticDomain = Staryl.WeiXin.Controllers.ControllerBase.StaticDomain;
    ViewBag.Title = "童星主页";
}

<header class="top-nav clearfix">
    <a class="dlt-a pull-left" href="javascript:history.go(-1);"><i class="glyphicon glyphicon-menu-left"></i><span>返回</span></a>
    <h4>童星库</h4>
</header>
<form id="pagerForm" action="/index/gets" method="post">
    <input type="hidden" id="txtPage" name="txtPage" value="1" />
    <input type="hidden" name="txtPageSize" value="10" />
    <input type="hidden" id="txtGender" name="txtGender" value="-1" />
</form>
<div id="tabMember" class="member-tag-list">
    <div class="hd clearfix">
        <ul id="taglist" class="tag-list-line list-unstyled">
            <li><a href="#" data-gender="-1">推荐童星</a></li>
            <li><a href="#" data-gender="1">Child boy</a></li>
            <li><a href="#" data-gender="2">Child girl</a></li>
            <li><a href="#" data-gender="-1">童星榜</a></li>
        </ul>
    </div>
    <div id="tabMemberBd" class="bd">
        <div class="con">
            <div id="datacontent0" class="member-list bgfdf5f2">
                
            </div>
        </div>
        <div class="con">
            <div id="datacontent1" class="member-list bgfdf5f2">

            </div>
        </div>
        <div class="con">
            <div id="datacontent2" class="member-list bgfdf5f2">

            </div>
        </div>
        <div class="con">
            <div id="datacontent3" class="member-list bgfdf5f2">

            </div>
        </div>
    </div>
</div>

<div class="clearfix bottom-fixd">
    <div class="affix main-nav">
        <div class="row">
            <div class="col-md-3 col-xs-3">
                <a href="/Index" class="current">
                    <i><img src="@(StaticDomain)images/icon-group.png" width="30%"></i>
                    童星库
                </a>
            </div>
            <div class="col-md-3 col-xs-3">
                <a href="/Activity">
                    <i><img src="@(StaticDomain)images/icon-notice.png" width="30%"></i>
                    活动通告
                </a>
            </div>
            <div class="col-md-3 col-xs-3">
                <a href="###">
                    <i><img src="@(StaticDomain)images/icon-store.png" width="30%"></i>
                    童星潮铺
                </a>
            </div>
            <div class="col-md-3 col-xs-3">
                <a href="/Account">
                    <i><img src="@(StaticDomain)images/logo.png" width="30%"></i>
                    我的
                </a>
            </div>
        </div>
    </div>
</div>

@section scripts {

<script id="datalist" type="text/html">
    {{each Data as item}}
    <div class="row">
        <div class="col-xs-3">
            <a href="#">
                <img class="lazy-img" src="@(StaticDomain)images/no-pic.png" data-original="@(StaticDomain)upload/@ViewBag.avatarpath/{{item.ParentId}}/{{item.Avatar}}">
            </a>
        </div>
        <div class="col-xs-9">
            <p class="nm">{{item.RealName}}</p>
            <p>
                {{if item.Gender==1}}
                <span class="tag-btn man-bg"><i class="icon icon-m"></i>{{item.Age}}</span>
                {{else}}
                <span class="tag-btn wm-bg"><i class="icon icon-w"></i>{{item.Age}}</span>
                {{/if}}
                <span class="tag-btn tag-ht-bg">{{item.Height}} cm</span>
            </p>
            <p>{{item.Greeting}}</p>
            <a href="###" class="agree-btn">
                <i class="glyphicon glyphicon-thumbs-up"><span>0</span></i>
            </a>
        </div>
    </div>
    {{/each}}


</script>
<script src="@(StaticDomain)js/template.js"></script>
<script src="@(StaticDomain)js/template-date.js"></script>






    <script type="text/javascript">
        $(function () {
            //location = "/login";
            var indextab = 0;
            var pageCount = 0;//总页数
            TouchSlide({
                slideCell: "#tabMember",
                endFun: function (i) { //高度自适应
                    indextab = i;
                    $("#txtPage").val(1);
                    console.log($("#taglist li:eq(" + i + ") a").attr("data-gender"));
                    $("#txtGender").val($("#taglist li:eq(" + i + ") a").attr("data-gender"));
                    init();
                    var bd = document.querySelector("#tabMemberBd");
                    bd.parentNode.style.height = bd.children[i].children[0].offsetHeight + "px";
                    if (i > 0) bd.parentNode.style.transition = "200ms"; //添加动画效果
                }
            });

            init = function () {
                //获取绑定数据
                var $form = $("#pagerForm");
                param = $form.serialize();
                jsonAjax({ url: $form.attr("action"), param: param, callback: bindData });
            }
            bindData = function (result) {
                var vhtml = template("datalist", result);
                $("#datacontent" + indextab + "").html(vhtml);
                pageCount = Math.ceil(result.TotalCount / result.PageSize);
                var bd = document.querySelector("#tabMemberBd");
                //bd.parentNode.style.height = bd.children[i].children[0].offsetHeight + "px";
                var height = $("#datacontent" + indextab + "").height();
                $("#tabMemberBd").parent().height(height);

                if (indextab > 0) bd.parentNode.style.transition = "200ms"; //添加动画效果
                $("img.lazy-img").lazyload();

            }



        });

    </script>
}