@{
    ViewBag.Title = "Create";
    string StaticDomain = Staryl.Manage.Controllers.ControllerBase.StaticDomain;
}
@model Staryl.Manage.Models.ViewModels
@section style{
    <link rel="stylesheet" href="@(StaticDomain)css/bootstrapValidator.min.css" />
}
<section class="content-header">
    <h1>
        新增角色
        <small>新增一个系统角色</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="/account">角色管理</a></li>
        <li class="active">新增角色</li>
    </ol>
</section>

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
        </div>

        <!-- /.box-header -->
        <!-- form start -->
        <form id="addform" method="post" action="/account/create" class="form-horizontal">
            <div class="box-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">角色名称</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="RoleName" name="RoleName" value="" placeholder="输入角色名" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            权限分配
                        </label>
                        <div class="col-sm-10">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width:15%;">
                                                栏目名称
                                            </th>
                                            <th style="width:15%;">
                                                栏目地址
                                            </th>
                                            <th style="width:20px;">
                                                &nbsp;
                                            </th>
                                            <th>
                                                功能
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="list">
                                        @if (Model.MenuList != null)
                                        {
                                            foreach (var info in Model.MenuList)
                                            {
                                                <tr>
                                                    <td>
                                                        @info.MenuName
                                                    </td>
                                                    <td>
                                                        @info.MenuAddr
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="minimal" checked="@(Model.PrivilegesList.Any(p=>p.MenuId==info.Id))" name="MenuId" value="@info.Id" />
                                                    </td>
                                                    <td>
                                                        @if (info.FunctionList != null)
                                                        {
                                                            foreach (var m in info.FunctionList)
                                                            {
                                                                <label style="font-weight:normal;"><input type="checkbox" class="FunCode minimal" checked="@(Model.PrivilegesList.Any(p=>p.MenuId==info.Id&&p.FunctionCodes.Contains(m.FunctionCode)))" name="FunctionCodes_@info.Id" value="@m.FunctionCode" /> @m.FunctionName</label>　
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>




                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            &nbsp;
                        </label>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-success btn-sm">
                                提 交
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
        </form>





    </div>
</section>
@section scripts {
    <script src="@(StaticDomain)js/bootstrapValidator.min.js"></script>
    <script src="@(StaticDomain)js/language/zh_CN.js"></script>
    <script type="text/javascript">
        $(function () {
            parent.$.SetMenu("account/create");
            $(".select2").select2();

            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });
            $("input[name=MenuId]").on('ifChecked', function (event) {
                $(".FunCode:checkbox", $(this).parents("tr")).iCheck("check");
            }).on('ifUnchecked', function (event) {
                $(".FunCode:checkbox", $(this).parents("tr")).iCheck("uncheck");
            });

            //$(".FunCode").on('ifChecked', function () {
            //    if ($(".FunCode:checkbox:checked", $(this).parents("td")).length <= 0)
            //        $("input[name=MenuId]", $(this).parents("tr")).iCheck("check");
            //    else
            //        $("input[name=MenuId]", $(this).parents("tr")).iCheck("uncheck");

            //}).on('ifUnchecked', function (event) {
            //    if ($(".FunCode:checkbox:checked", $(this).parents("td")).length <= 0)
            //        $("input[name=MenuId]", $(this).parents("tr")).iCheck("check");
            //    else
            //        $("input[name=MenuId]", $(this).parents("tr")).iCheck("uncheck");

            //});



            $('#addform')
        .bootstrapValidator({
            message: '不可为空',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                RoleName: {
                    validators: {
                        notEmpty: {
                            message: '不可为空'
                        }
                    }
                },
                MenuId: {
                    validators: {
                        notEmpty: {
                            message: '至少选择一个权限'
                        }
                    }
                }
            }
        })
    .on('success.form.bv', function (e) {
        e.preventDefault();
        var $form = $(e.target);
        var bv = $form.data('bootstrapValidator');
        $.post($form.attr('action'), $form.serialize(), function (result) {
            parent.$.CheckLogin(result);
            if (result.MsgNo == 1) {
                location = "/role";
            } else {
                Modal.alert({
                    msg: result.Msg
                })
            }
        }, 'json');
    });

        });
    </script>
}